name: Static Build

on:
  push:
    branches:
      - main

jobs:
  build:
    if: github.repository == 'AlvaroRama/Mi-web'
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Run build script
        run: bash ./remote_build.sh

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update static build"
          commit_user_name: "alvaro [GitHub Actions]"
          commit_user_email: "alvaroramabenedicto@gmail.com"
          commit_author: "alvaro <alvaroramabenedicto@gmail.com>"
